body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background-color: #f8e8ee;
}

h1 {
  color: #3b50b2;
  font-size: 38px;
  font-weight: 700;
  margin: 10px 0;
  line-height: 48px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #2f89b3;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ff347f;
}

li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  background-color: white;
  max-width: 676px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.form-control {
  background-color: #f8e8ee;
}
.overview {
  margin-bottom: 20px;
}
.btn {
  background-color: #ff347f;
  border: #ff347f;
}
.btn:hover {
  background-color: #f7e2ea;
  color: #ff347f;
}

.weather-temperature img {
  margin-right: 10px;
  height: 60px;
  vertical-align: top;
  width: 60px;
}

.weather-temperature strong {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #3b50b2;
}

.weather-temperature .units {
  color: #3b50b2;
  font-size: 15px;
  font-weight: 400px;
  line-height: 36px;
  line-height: 1;
  position: relative;
  top: -22px;
}
.weather-temperature .active {
  color: #3b50b2;
  cursor: default;
}

.weather-forecast {
  margin-top: 35px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;
  color: #3b50b2;
  opacity: 0.8;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #3b50b2;
}

.weather-forecast-temperature-min {
  color: #2f89b3;
  opacity: 0.8;
}

.weather-footer {
  display: block;
  color: #2f89b3;
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
}
